* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #cfe4da;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.header {
    width: 100%;
    height: 80px;
    color: white;
    background-color: #49C489;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10px;
}

#Bmenu_header {
    position: absolute;
    color: white;
    background-color: transparent;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 40px;
    left: 20px;

}

#logo_header {
    position: absolute;
    right: 50px;
    top: 12px;
    width: 50px;
}

.nav > a {
    color: white;
    text-decoration: none;
    margin: 0px 45px;
}

.nav > a:hover {
    border-bottom: 4px solid white;
    padding-bottom: 3px;
}

#Bmenu_header:hover {
    color: rgba(128, 128, 128, 0.438);
}

h1{
    color: darkcyan;
    font-size: 50px;
    display: flex;
    justify-content: center;
}
input{
    width: 100%;
    border-radius: 10px;
    padding: 3px;
    border: 1px solid black;
    height: 25px;
}
.main{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.info1{
    gap: 10px;
    display: flex;
    flex-direction: column;
}
.info2{
    gap: 10px;
    display: flex;
    flex-direction: column;
}
.info3{
    gap: 10px;
    display: flex;
    flex-direction: column;
}
.msg{
    gap: 10px;
    display: flex;
    flex-direction: column;
}
.msg input{
    height: 100px;
}
