* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #3E9D70;
}

.header {
    width: 100%;
    height: 80px;
    color: white;
    background-color: #49C489;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10px;
}

#Bmenu_header {
    position: absolute;
    color: white;
    background-color: transparent;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 40px;
    left: 20px;

}

#logo_header {
    position: absolute;
    right: 50px;
    top: 12px;
    width: 50px;
}

.nav > a {
    color: white;
    text-decoration: none;
    margin: 0px 45px;
}

.nav > a:hover {
    border-bottom: 4px solid white;
    padding-bottom: 3px;
}

#Bmenu_header:hover {
    color: rgba(128, 128, 128, 0.438);
}


.main {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    flex: 1 1;
}

.barra_lateral {
    display: flex;
    background-color: #cfe4da;
    flex: 1 1 30%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

#logo_aside {
    margin-top: 80px;
    margin-bottom: 10px;
    width: 180px;
}

#botoes_menu {
    display: flex;
    flex-direction: column;
}


#botoes_menu > button {
    margin: 5px 0px;
    width: 170px;
    padding: 10px;
    text-align: left;
    border-radius: 7px;
    display: flex;
    align-items: center;
    height: 50px;
    color: gray;
    background-color: transparent;
}

#botoes_menu > button:hover {
    color: white;
    background-color: #089451;
}


#botoes_menu > button > img {
    margin-right: 5px;
}

#atendimento {
    margin: 0px auto;
}

.meio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px; 
    margin-top: 97px;
    background-color: #3E9D70;
}


.imagens{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    background-color: #3E9D70;
}


.imagens .imagem{
 
    width: 360px;
    height: 360px;
    text-align: center;
    background-color: #3E9D70;
    
}

.imagem img {
    width: 300px;
}

.descricoes{
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
}

.descricoes a{
    color: #A8F2FE;
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin-right: 13px;
}

.numeros{
   
   display: flex;
   justify-content: space-around;
}

.numeros p{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-left: 15px;
}

.numeros, .descricoes, .imagens {
    width: 100%; 
}

.titulo{
   
    display: flex;
    justify-content: center;
    margin-top: 37px;
}


.titulo h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
